
body{
	background-color:rgb(20, 79, 119);
}
#titulo{
	border: 1px solid ;
	background-color: aquamarine;
    text-align: center;
}

#cachorro {
	width: 8em;
	margin-top: 400px;
	margin-left: 100px;
	border: 1px solid whitesmoke;
}

#casa {
	width: 8em;
	position: absolute;
	top: 300px;
	left: 900px;
	border: 10px solid red;
}

#campo {
	width: 4em;
	display: block;
	margin-top: 2em;
}